<% content_for :header do %>
  <h3>Dealer's Turn (press continue for dealer's turn):</h3>
<% end %>

<div class="button">
  <form action="/game/dealer" method="post">
    <button type="submit"><p>Continue</p></button>
  </form>
</div>
