<h3>Game Rules:</h3>
<% @rules.each do |line| %>
  <ul>
    <li><%= line %></li>
  </ul>
<% end %>
<% content_for :footer_links do %>
  <div class="button">
    <form action="/login" method="get">
      <button type="submit">
        <p>Login and buy-in</p>
      </button>
    </form>
  </div>
<% end %>
