<html>
<title>Twenty-One</title>
<link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
<body>
  <h2>Welcome to Twenty-One</h2>
    <%= yield %>
    <br /><br />
    <%= yield_content :footer_links %>
</body>
</html>