
<div class="button">
  <form action="/login" method="post">
    <label for="name">Please enter your name:</label>
    <input type="text" name="name" value="<%= params[:name] %>" placeholder="name...">
    <br />
    <button type="submit">
      <p>Start game</p>
    </button>
  </form>
</div>
