<h4>You can now start a new game</h4>
<p>Press the `deal` button to start the game</p>
<div class="button">
  <form action="/game/player" method="post">
    <button type="submit"><p>Deal</p></button>
  </form>
</div>
