<% content_for :header do %>
  <h3>Round Over!</h3>
<% end %>
<div class="result">
  <p><%= @result[:message] %></p>
</div>
<div class="button">
  <form action="/game/new" method="get">
    <button type="submit">
      <p>New Game</p>
    </button>
  </form>
</div>
